{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="">
                GET NEWS HERE
            </div>
            <div>
                {{ macro.displayNewList(category) }}
            </div>
        </div>

        <div class="col-md-6">
            <div>
                YOUR LATEST NEWS ARE HERE
            </div>
            <div>
                {{ macro.displayNewList(articles) }}
            </div>
        </div>

        <!-- <div class="col-md-4">
            <div>
                THE SOURCES ARE HERE
            </div>
            <div>
                {{ macro.displaySources(source_list) }}
            </div>

        </div> -->

    </div>
{% endblock %}