<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>News-app</title>
    {% endif %}
    <!-- font roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"rel="stylesheet">
</head>
<body>
    {% extends 'base.html' %}
    {% import 'macros.html' as macro%}
        {% block content %}
    <!-- bbc news -->
        <h3>BBC News</h3>
    <ul>
        {{ macro.diaplayNewList(bbc-news)}}
    </ul> 

    <!-- Aljazeera -->
    <h3>Aljazeera News</h3>
    <ul>
        {{ macro.diaplayNewList(al-jazeera-english)}}
    </ul> 

    <!-- abc news -->
    <h3>ABC News</h3>
    <ul>
        {{ macro.diaplayNewList(abc-news)}}
    </ul> 
        {% endblock %}
    
</body>
</html>