{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="heading">
                GET NEWS HERE 
            </div>
            <div>
                {{ macro.displayNewList(categories) }}
            </div>
        </div>

        <div class="col-md-5">
            <div class="heading">
                YOUR LATEST NEWS ARE HERE
            </div>
            <div>
                {{ macro.displayNewList(headlines) }}
            </div>
        </div>

        <div class="col-md-2">
            <div class="heading">
                NEWS SOURCES
            </div>
            <div>
                {{ macro.displaySources(sources) }}
            </div>

        </div>

    </div>
</div>
{% endblock %}