{% macro displayNewList(new_list) %}

    {% for new in new_list %}
    <div class="">
        <div class="img">
            <a href="{{new.url}}"><img src="{{new.image}}"></a>
        </div>
        <div class="text">
            <a href="{{new.url}}">{{new.title}}</a>
            <p>{{new.description}}</p>
            <p>Published at: {{new.publishedAt}}</p>
        </div>
    </div>
    {% endfor %}

{% endmacro %}

{% macro displayNewList(new_list) %}

    {% for new in new_list %}
    <li>
        <span>{{new.publishedAt}}</span><a href="{{new.url}}">{{new.title}}</a>
        <a href="new.url">ReadMore</a>
    </li>
    {% endfor %}

{% endmacro %}

{% macro displaySource(source_list) %}

    {% for source in source_list %}
        <li>
            <a href="/article/{{source.id}}">{{ source.name }}</a>
        </li>
    {% endfor %}
{% endmacro %}
