

{% macro displayNewList(headline_list) %}

    {% for headline in headline_list %}
    <div>
    <li>
        <div class="img">
            <a href="{{headline.url}}"><img style="height: 10rem;width: 35rem;" src="{{headline.urlToImage}}" alt="Image"></a>
        </div>
        <br>
        <div class="text">
            <p>Description: {{headline.description}}</p>
            <a href="{{headline.url}}"> {{headline.title}}</a>
            
            <p>Published : {{headline.time}}</p>
        </div>
            <a href="{{headline.url}}">{{headline.title}}</a></span></p>
        
</div>
    {% endfor %}

{% endmacro %}

{% macro displaySources(source_list) %}

    {% for source in source_list %}
        <li>
            <a href="/article/{{source.id}}">{{ source.name }}</a>
        </li>
    {% endfor %}
{% endmacro %}
