<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <a class="navbar-brand text-white" href="/">NEWS APP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content"
        aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav ml-auto " style="list-style: none; font-size: larger;"   >
            <li class="nav-item p-2">
                <a class="nav-link" href="/">Home</a>
            </li>
            <br>
            <li class="nav-item p-2">
                <a class="nav-link" href="/{{'categories/Health'}}">Health</a>
            </li>
            
        </ul>

    </div>
</nav>